.WeatherApp {
  background-size: cover;
  background-image: url("../public/images/sun.jpg");
}

a {
  text-decoration: none;
}

.Weather ul {
  list-style-type: none;
  line-height: 0.5;
  text-align: left;
  position: relative;
  left: -30px;
}
.Weather .card {
  background-color: rgba(243, 237, 237, 0.4);
}

.forecast-img {
  height: 90px;
  position: relative;
  top: -10px;
}

.forecast-temp,
.daytime {
  position: relative;
  top: -15px;
}

.today .col-3,
.week .col-2 {
  text-align: center;
}

.degrees,
.date {
  font-size: 15px;
}
.day,
.daytime {
  font-size: 20px;
  font-weight: bold;
}
